#RewriteEngine On
#RewriteBase /

#RewriteCond %{THE_REQUEST} public/([^\s?]*) [NC]
#RewriteRule ^ %1 [L,NE,R=302]
#RewriteRule ^((?!public/).*)$ https://receitas.bigcaravelas.com.br/receitas/public/$1 [L,NC]



RewriteEngine on
RewriteCond %{HTTP_HOST} ^receitas.bigcaravelas\.com\.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.receitas.bigcaravelas\.com\.br$
RewriteCond %{REQUEST_URI} !receitas/
RewriteRule (.*) /receitas/public/$1 [L]